In [36]:
import pandas as pd

df = pd.read_csv('.\\data\\2019\\infracoes_2019_06.csv', sep=',')

In [40]:
df2=pd.read_csv('.\\data\\2017\\2017_dez.csv', sep=',', encoding='ISO-8859-1')

In [41]:
df2.head()

,dat_infracao,tip_abordagem,ind_assinou_auto,ind_veiculo_estrangeiro,ind_sentido_trafego,uf_placa,uf_infracao,num_br_infracao,num_km_infracao,nom_municipio,...,enquadramento,data_inicio_vigencia,data_fim_vigencia,med_realizada,med_considerada,exc_verificado,especie,nome_veiculo_marca,nom_modelo_veiculo,hora
0,2017-12-01,S,NaN,N,NaN,MG,MG,381,568,ITAGUARA,...,218 II,2016-11-01,NaN,79.0,72.0,12.0,NaN,NaN,CARGO 816 S,00:00:08
1,2017-12-01,S,NaN,N,NaN,MG,BA,324,619,SALVADOR,...,218 I,2016-11-01,NaN,90.0,83.0,3.0,NaN,NaN,KA SE 1.0 HA B,00:00:43
2,2017-12-01,S,NaN,N,NaN,RJ,RJ,116,167,SAO JOAO DE MERITI,...,218 I,2016-11-01,NaN,106.0,99.0,9.0,NaN,NaN,VW/NOVO VOYAGE 1,00:01:04
3,2017-12-01,S,NaN,N,NaN,SP,SP,116,65,GUARATINGUETA,...,218 I,2016-11-01,NaN,115.0,107.0,7.0,NaN,NaN,HYUNDAI/HB20 1.0,00:01:24
4,2017-12-01,S,NaN,N,NaN,SP,SP,116,110,TAUBATE,...,218 I,2016-11-01,NaN,116.0,108.0,8.0,NaN,NaN,FORD/ECOSPORT SE,00:01:40

In [19]:
df['Código da Infração'].head(5)

0    75790
1    66020
2    66020
3    72422
4    72422
Name: Código da Infração, dtype: int64

In [25]:
df.head()

,numero_auto,dat_infracao,tip_abordagem,ind_assinou_auto,ind_veiculo_estrangeiro,ind_sentido_trafego,uf_placa,uf_infracao,num_br_infracao,num_km_infracao,...,descricao_abreviada,enquadramento,data_inicio_vigencia,data_fim_vigencia,med_realizada,especie,nome_veiculo_marca,hora,med_considerada,exc_verificado
0,1286f7f761e5c02,2019-06-21,C,S,N,C,MG,MG,364,140,...,"Rec sub test,ex clin, peric ou proc q perm cer...",165-A,2016-11-01,NaN,Nenhuma,PASSAGEIRO,FIAT,1,0.00,0.00
1,20cc8a77dd9734f,2019-06-14,C,N,N,C,RS,RS,290,124,...,Conduzir o veículo com qualquer uma das placas...,230 VI,2016-11-01,NaN,Nenhuma,PASSAGEIRO,VW,8,0.00,0.00
2,2219bf224677c16,2019-06-14,S,N,N,C,RS,RS,290,124,...,Conduzir o veículo com qualquer uma das placas...,230 VI,2016-11-01,NaN,Nenhuma,CARGA,MERCEDES BENZ,8,0.00,0.00
3,e00c86bc5dc9134,2019-06-25,S,N,N,D,MG,MG,354,342,...,"Em movimento de dia, deixar de manter acesa lu...",250 I b,2016-11-01,NaN,Nenhuma,PASSAGEIRO,GM,10,0.00,0.00
4,620c964b82bd31a,2019-06-25,S,N,N,D,MG,MG,354,342,...,"Em movimento de dia, deixar de manter acesa lu...",250 I b,2016-11-01,NaN,Nenhuma,CARGA,FORD,10,0.00,0.00

In [27]:
df.dat_infracao

0         2019-06-21
1         2019-06-14
2         2019-06-14
3         2019-06-25
4         2019-06-25
             ...
492836    2019-06-30
492837    2019-06-30
492838    2019-06-30
492839    2019-06-30
492840    2019-06-30
Name: dat_infracao, Length: 492841, dtype: object

In [9]:
df2.head(1)

,dat_infracao,tip_abordagem,ind_assinou_auto,ind_veiculo_estrangeiro,ind_sentido_trafego,uf_placa,uf_infracao,num_br_infracao,num_km_infracao,nom_municipio,descricao_abreviada,enquadramento,data_inicio_vigencia,data_fim_vigencia,med_realizada,med_considerada,exc_verificado,especie,nome_veiculo_marca,nom_modelo_veiculo
0,2009-01-01,C,NaN,N,C,TO,TO,153,132,ARAGUAINA,Dirigir veículo sem possuir CNH ou Permissão p...,162 I,2000-01-01,2016-10-31,NaN,NaN,NaN,PASSAGEIRO,OUTRA,TRAXX JL500 2

In [6]:
df2 = pd.read_csv('.\\data\\2009\\2009_jan_fev.csv')